.book .book-card {
    position: relative;
    /* Silme ve düzenleme butonlarının konumlandırılması için */
    width: 450px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    /* Butonların dışarı taşmasını engellemek için */
    position: relative;
}

.book .book-card img {
    width: 200px;
    height: 350px;
    padding: 10px;
    object-fit: cover;
}

.book .book-card .book-card-body {
    padding: 10px;
}

.book .book-card .book-card-body .title {
    text-align: center;
}

.book .book-card .delete,
.book .book-card .edit {
    position: absolute;
    top: 0;
    bottom: 0;
    /* Düzenleme ve Silme butonlarının genişliği */
    width: 200px;
    border: none;
    cursor: pointer;
    /* Geçiş efektleri */
    transition: width 0.7s, opacity 0.7s;
    /* Başlangıçta görünmez olmasını sağlar */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book .book-card .delete:hover,
.book .book-card .edit:hover {
    width: 100px;
    opacity: 1;
}

.book .book-card .delete {
    left: 0;
    background-color: #8a2be2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book .book-card .edit {
    right: 0;
    background-color: #e6c6f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}