.book-list .title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: lighter;
    color: #6c757d;
    text-decoration-color: #6c757d;
    text-align: center;
}

.book-list .card-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}