.bg-body-tertiary {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navbar-brand img {
    height: 40px;
}

.nav-link-custom {
    color: #fff;
    transition: 0.6s;
}

.nav-link-custom:hover {
    font-weight: bold;
    font-size: 26px;
    color: #fff;
}