.search-form {
    width: 100%;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url('../img/searchBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 320px 0;
    text-align: center;
}

.search-form-content {
    display: inline-block;
    text-align: center;
}

.search-form .search-form-elem {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}

.search-form .search-form-elem .form-control {
    font-size: 1.6rem;
    padding: 0.6rem;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    flex-grow: 1;
}

.search-form .search-form-elem .form-control::placeholder {
    opacity: 0.9;
}

.search-form .search-form-elem .search-btn {
    background: linear-gradient(135deg, #e6c6f5, #8a2be2);
    border: 1px solid white;
    cursor: pointer;
    padding: 0.9rem;
    border-radius: 5px;
}

.search-form .search-form-elem .search-btn-icon {
    color: white;
}

.search-form h1 {
    color: white;
    font-weight: bold;
    font-size: 44px;
}

.search-form p {
    color: white;
    font-weight: lighter;
    font-size: 20px;
}